Django>=3.2,<3.3
wagtail>=2.14,<2.15

psycopg2-binary
django-extensions==3.1.0

wagtail-markdown==0.6
Pygments
wagtail-django-recaptcha==1.0
python-webpack-boilerplate==0.0.3
django-crispy-forms==1.10.0
crispy-bootstrap5==0.4
wagtailmenus==3.0.2
wagtail-metadata==3.3.1

django-contrib-comments==1.9.2
emoji==0.6.0
wagtailfontawesome
django_widget_tweaks
gunicorn
wagtail_blocks
dj-database-url
django-environ
