{% load wagtailroutablepage_tags wagtailcore_tags %}

<div class="card my-4">
  <h5 class="card-header">Medium</h5>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-unstyled mb-0">
          {% for medium in mediums %}
            <li>
              <a href="{% routablepageurl painting_index_page 'post_by_medium' medium.slug %}">
                class= "link-primary text-decoration-none">{{ medium.name }}
              </a>
            </li>
          {% empty %}
            'No mediums yet'
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>