{% extends "base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}

{% block content %}
    <div class="container">
        {% for painting in painting_list %}
        <div class="row mt-5 mb-5">
            <div class="col sm-3">
                {% image painting.image fill-250x250 as painting_img %}
                <a href="{% pageurl painting %}">
                    <img src="{{ painting_img.url }}" alt="{{ painting_img.alt }}">
                </a>
                <div class="col-sm-9">
                    <a href="{% pageurl painting %}">
                        <h2>{{painting.title}}</h2>
                     {# @todo add a summary field to BlogDetailPage; make it a RichTextField with only Bold and Italic enabled. #}
                        <a href="{{painting.url}}" class="btn btn-primary mt-4">Read More</a>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}