{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags catalogapp_tags %}


<body>

{% block extra_css %}
<style>


.card img{
    height: 100vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

body{
    background: #f1e3d3;
}

.card{
  color: #202020 ;
  background-color: #202020  !important;
}

.card-header{
    border-bottom: 0px;
}

.overlay {
  position: absolute;
  top: 80%;
  left: 0%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2vw;
  height: 2vw;
}

.painting-subtitle {
    text-decoration: underline red;
}

.underline:before {
    content: '';
    position: absolute;
    display: block;
    /* you can adjust the properties to your liking */
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #5fca66;
}

a {
  color: white;
}

a:hover {
  color: hotpink;
}

p {
  width: 400px;
}

h5, h6 {
 display: inline;
}


</style>

{% endblock %}


{% block content %}

{% image page.image original as img %}
<div class="card">

    <img src="{{ img.url }}" alt="{{ img.alt }}" class="img-top"/>

    <div class="card-img-overlay text-white d-flex flex-column justify-content-center">

        <div class="card-header">
            <h3>{{ self.title }}</h3>

            <a href="{% pageurl page.painter %}"
                class="painting-subtitle">{{ self.painter}}</a>

        </div>

        <div class="card-body">
            <div class="meta">

                <i class='fas fa-calendar-alt'></i>&nbsp;{{ self.date }}&nbsp;&nbsp;
                <i class="fas fa-ruler-combined"></i>&nbsp;{{ self.width }}&nbsp;x&nbsp;{{ self.height }}&nbsp;cm
                <br>

                <!--           Category-->
                {% with categories=page.categories.all %}
                {% if categories %}

                {% for category in categories %}
<!--                <h6>Category:</h6>-->
                        <a href="{% routablepageurl painting_index_page 'post_by_category' category.slug %}">
                            {{ category.name }}</a>
                    {% endfor %}
                {% endif %}
                {% endwith %}

                <br>
                <!--           Location-->
                {% with locations=page.locations.all %}
                {% if locations %}
                {% for location in locations %}
                <i class='fas fa-globe'></i>
<!--                <h6>Location</h6>-->
                <a href="{% routablepageurl painting_index_page 'post_by_location' location.slug %}">
                {{ location.name }}
            </a>
                {% endfor %}
                {% endif %}
                {% endwith %}

                &nbsp;&nbsp;
<!--                <h6>Technique:</h6>-->
                {% with mediums=page.mediums.all %}
                {% if mediums %}
                <i class='fas fa-paint-brush'></i>
                {% for medium in mediums %}
                <a href="{% routablepageurl painting_index_page 'post_by_medium' medium.slug %}">
                    {{ medium.name }}
                </a>
                sur
                {% for support in supports %}
                <a href="{% routablepageurl painting_index_page 'post_by_support' support.slug %}">
                    {{ support.name }}</herf>
                </a>
                {% endfor %}
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>

            <br>
            <br>
            {% for block in page.description %}

            <div class="mt-30">
                <div class="block-{{ block.block_type }}">
                    <h5>Description:</h5>
                    <p style="width:200px">
                        {{ block.value }}
                    </p>
                </div>
            </div>

            {% endfor %}

            <br>
            <br>


            <div class="tags">
            {# Check if there are tags #}
                <h6>Tags:</h6>
                <br>
        {% if page.tags.count %}
        {% for tag in page.tags.all %}
        {# Loop through all the existing tags #}
        <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a>&nbsp;&nbsp;
        {% endfor %}
        {% endif %}
           </div>

            <br>
            <div class="tags">
            {# Check if there are tags #}
                <h6>Links:</h6>
                <br>
                {% for block in page.links %}
        {% include_block block %}
    {% endfor %}
           </div>
        </div>

        </div>


    </div>


<!--    <div class="card-footer">-->
<!--        {# Check if there are tags #}-->
<!--        {% if page.tags.count %}-->
<!--        {% for tag in page.tags.all %}-->
<!--        {# Loop through all the existing tags #}-->
<!--        <a href="{{ self.get_parent.url }}?tag={{ tag.slug }}">{{ tag }}</a><br/>-->
<!--        {% endfor %}-->
<!--        {% endif %}-->
<!--    </div>-->


</div>
</div>

</body>


{% endblock %}