
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
    background: #f1e3d3 !important;

}

.page-titles {
  text-align: center;
  color:  #0 ;
  font-size: 30px;
}

footer {
    background-color: #6d597a;
    height: 50px;
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer ul {
    list-style-type: none;
}
footer li span, footer li a, footer li a:hover {
    display: inline;
    color: white;
    font-size: 12px;
    margin-right: 40px;
}

/* for the images with text overlay on cms pages */
.card-title, .card-subtitle, .card-text {
    color: white;
}
p.card-subtitle {
    color: white;
}

}
.img-front {
    position: relative;
    max-width: 100%;
    object-fit: cover;
}
.img-default {
    position: relative;
    max-width: 100%;
    background-color: grey;
}
.img-background {
    position: fluid;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    background-color:  #4db6ac;
    opacity: 0;
    transition: opacity 300ms;
}
a:hover .img-background {
    opacity: 0.6;
}

.card-img-top {   
width: 100%;
object-fit: cover;
}

p.card-subtitle {
    color: white;
}

.gallery:hover{
    box-shadow: 8px 8px 8px  #4e342e;
    transform:scale(1.05);
    color: #800020;
    background-color:#800020;
}

.card{
  border:1px solid black;
  transition:.3s;
  margin: 0rem;
  background-color: #CD7F32;
}

.card-img-overlay {
  justify-content: around;
}

.gallery:hover .card-icon {
	display: block;
}
.card-icon {
  color: transparent;
  padding-top: 50%;	
  padding-right: 45%;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.card-icon:hover {
  color: PaleVioletRed;
}

.contact-form {
    list-style-type: none;
    padding-left: 0;
}
.contact-form li {
    margin-bottom: 1.5rem;
}
.contact-form label {
    display: block;
    font-weight: bold;
}
.contact-form .helptext {
    display: block;
    font-size: 80%;
}
        
.lead{
    background-color: #CD7F32;
}

.card-title{
    font-size: 1.5em;
}

.outline-text {
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.pl-6{margin-left:5rem;}


