{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">{{ self.title }}</h2>
        <h6 class="page-section-heading text-center text-uppercase text-white">{{ self.subtitle|richtext }}</h6>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <i class="fas fa-paint-brush"></i>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="lead">
            <p>
                {{ self.our_mission|richtext }}

            </p>
        </div>
    </div>


</section>

<section>
    {% include 'contact/contact_page.html' %}
</section>

{% endblock %}