{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}

{% block content %}



<body>

{% block extra_css %}
<style>


.carousel-inner img{
    height: 100vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

body{
    background: #f1e3d3;
}

.carousel{
  color: #202020 ;
  background-color: #202020  !important;
}


.overlay {
  position: absolute;
  top: 80%;
  left: 0%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2vw;
  height: 2vw;
}

.btn-oneclick {
    background-color: purple;
    }

</style>

 {% endblock %}

<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
    <button class="btn-oneclick" onclick="goBack()">Go Back</button>

    <!--Indicators-->
    <ol class="carousel-indicators">
    {% for loop_cycle in self.gallery_images.all %}
      <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
    {% endfor %}

    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
     {% for loop_cycle in self.gallery_images.all %}
        {% image loop_cycle.image original as img %}
      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
        <img class="img-fluid d-block centered" src="{{img.url}}"
          alt="First slide">
          <div class="overlay text-center text-white d-flex flex-column justify-content-center">
            {{ loop_cycle.caption }}

          </div>

          </div>
      {% endfor %}
      <!--/First slide-->
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon next-icon-2x" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

    <!--/.Controls-->
  </div>
  </div>



</body>








{% endblock content %}